<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">My Shop</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showReportBtn()">Home</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showEditBtn()">Edit Employees</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showProducts()">Products</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type="button" (click)="showRequests()">Requests</button>
          </li>
        </ul>
        <button class="btn btn-danger" type="button" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </nav>

  <div class="row align-items-center" *ngIf="showReport">
    <div class="col"></div>
    <div class="col">
      <div class="container-md">
        <form #custom="ngForm" (ngSubmit)="customize(custom.value)">
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary" id="daily" (click)="daily()">Daily</button>
            <button type="button" class="btn btn-primary" id="weekly" (click)="weekly()">Weekly</button>
            <button type="button" class="btn btn-primary" id="monthly" (click)="monthly()">Monthly</button>
          </div>

            <div class="mb-3">
              <label class="form-label">Product ID</label>
              <input type="text" class="form-control" name="productID" ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label">Customer ID</label>
                <input type="text" class="form-control" name="customerID" ngModel>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" id="search">Search</button>
              <button type="reset" class="btn btn-link" id="button" (click)="resetTable()">Reset Table</button>
            </div>

        </form>
    </div>
    </div>
    <div class="col"></div>
  </div>
<div class="name" *ngIf="showReport">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Username</th>
          <th scope="col">Products</th>
          <th scope="col">Total</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of reportShow">
          <td>{{report.id}}</td>
          <td>{{report.userName}}</td>
          <td>
            <ul *ngFor="let product of report.cart">
              <li>{{product.quantity}} {{product.id}}</li>
            </ul>
          </td>
          <td>${{report.total}}</td>
          <td>{{report.status}}</td>
          <td>{{report.date}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="row align-items-center" *ngIf="showEdit">
    <div class="col">
      <div class="container-md">
        <form #employee="ngForm" (ngSubmit)="addEmployee(employee.value)">
            <div class="mb-3">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" name="firstName" ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lastName" ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email" ngModel>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success" id="addEmployee">Add Employee</button>
              <button type="reset" class="btn btn-link" id="reset">Reset</button>
            </div>

        </form>
    </div>
   </div>
    <div class="col">
      <div class="name" *ngFor= "let employee of employees.data">
        <div class="row">
          <div class="container-fluid">ID: <strong>{{employee.id}}</strong></div>
          <br/>
          <div class="container-fluid" *ngIf="!employee.changedPassword">Password: {{employee.password}}</div>
          <div class="container-fluid" *ngIf="employee.changedPassword">Password: <strong>*Employee has changed their password*</strong></div>
          <div class="container-fluid">
            <button class="btn btn-outline-danger" type="button" (click)="deleteEmployee(employee.id)">Delete</button>
          </div> 
        <hr>
        </div>
       
      </div>
    </div>
  </div>

  <div class="row align-items-center" *ngIf="showProduct">
    <div class="col"></div>
    <div class="col">
      <div class="container-md">
        <form #add="ngForm" (ngSubmit)="addProduct(add.value)">
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" class="form-control" name="id" ngModel>
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input type="number" class="form-control" name="price" ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label">Quantity</label>
                <input type="number" class="form-control" name="quantity" ngModel>
            </div>
            <div class="mb-3">
              <label class="form-label">Image Link</label>
              <input type="text" class="form-control" name="imageLink" ngModel>
          </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success" id="addProduct">Add Product</button>
              <button type="reset" class="btn btn-link" id="reset">Reset</button>
            </div>

        </form>
    </div>
    </div>
    <div class="col"> </div>
    <div class="name" *ngFor= "let item of items">
      <div class="row">
        <div class="col-sm-2"><strong>{{item.id}}</strong></div>
        <br/>
        <div class="col-sm-1">$ {{item.price}}</div>

        <div class="col-sm-2">
          <button id="removeBtn" class="btn btn-outline-danger" type="button" (click)="removeProduct(item.id)">Remove</button>
        </div>
        <div class="col-sm-3"> 
          <input type="number" id="orderedQuantity" value={{item.quantity}} step="1" min="1" class="col-2"  #updatedQty>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-outline-warning" type="button" (click)="updateProduct(item.id,updatedQty.value)">Update</button>
        </div>  
        <div class="col-sm-1">
        </div>
      <hr>
      </div>
     
    </div>
  </div>

  <app-request *ngIf="showRequest"></app-request>
