br {
  content: "\A";
  display: contents;
  white-space: pre;
}

.logoutArea {
}

#removeBtn,
#addBtn {
  float: right;
}


button:active {
  /* background-color: #3e8e41;
  box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

button{
  margin: 2px 2px;

}

.item-container {
  position: relative;
  /* left: -10vw; */
  width: 100vw !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  margin: 20px;
}

.card:hover {
  background-color: #6fff003f;
  box-shadow: 0 0 18px rgba(5, 19, 0, 0.29);
  transition: box-shadow 0.3s ease-out;
}