<div class="container">
    <br>
    <h2>Account Funds</h2>
    <br><br>
    <div class="fundTableArea">
        <table class="table fundTable">
            <thead>
                <th>Account Number</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{accountNumber}}</td>
                    <td>{{curr_funds}}</td>
                </tr>
            </tbody>
        </table>
    </div>
<br>
    
    <div class="addFundsArea">
        <h3>Need to add funds? Add them here!</h3><br>
        <div class="input-group mb-3 amntInput">
            <span class="input-group-text">$</span>
            <input #fundsAmnt id="fundsInput" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
        </div>
        <input type="button" class="btn btn-primary fundsBtn" value="Request Funds" (click)="addFunds(fundsAmnt.value)">
    </div>

</div>